body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.button {
  cursor: pointer;
  height: 28px;
  border-radius: 5px;
  font-size: 14px;
  border: 0;
}

.button--primary {
  background-color: #5352ed;
  color: #ffffff;
}

.button--primary:hover {
  background-color: #3742fa;
  color: #ffffff;
}

.button--postive {
  color: #fff;
  background-color: #2ed573;
}

.button--postive:hover {
  color: #fff;
  background-color: #7bed9f;
}

.button--neutral {
  background-color: #ffffff;
}

.button--neutral:hover {
  background-color: #f1f2f6;
}

.button__group {
  padding-top: 3px;
  display: flex;
}

.button__group > button {
  width: 100%;
}

.button__group > button:first-child {
  margin-right: 6px;
}
